.bgc {
  background-color: #d3d3d3;
  color: #000000;
  width: 20rem;
  height: 100%;
  border-right: 2px solid #808080;
  font-size: 2rem;
  min-height: 100%;
  position: absolute;
  padding-left: 1px;
  padding-top: 50px;
}

.title {
  font-family: "Darumadrop One", sans-serif;
  font-size: 2rem;
  position: absolute;
  left: 4.8rem;
  top: 1rem;
}
